h1.sdt{
    
    font-family: 'Alex Brush', cursive;
    font-size: 650%;
    padding-left: 8cm;
}
p.p{
    
    padding-left: 11cm
    
}

@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');