h1.sdt {
  font-family: "Alex Brush", cursive;
  font-size: 650%;
  text-align: center;
}
div.center {
  position: relative;
  box-flex: center;

}
p.p{
    text-align: center
}
div

@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");
