h1.sdt {
  font-family: "Alex Brush", cursive;
  font-size: 650%;
  text-align: center;
}
div.center {
  position: relative;
}
p.p {
  text-align: center;
}
div .container {
  display: flex;
  align-items: center;
  flex-direction: center;
}

@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");
